force-app/main/default/flows/Create_Commission_From_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>Date</name>
        <dataType>Date</dataType>
        <expression>{!$Record.CloseDate} + 30</expression>
    </formulas>
    <interviewLabel>Create Commission From Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Commission From Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Commission_Record</name>
        <label>Create Commission Record</label>
        <locationX>123</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Update_Clone_Roll_Up_Fields</targetReference>
        </connector>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Est_Act__c</field>
            <value>
                <stringValue>Estimated</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Amount__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Number__c</field>
            <value>
                <stringValue>Payment 01</stringValue>
            </value>
        </inputAssignments>
        <object>Commission__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Clone_Roll_Up_Fields</name>
        <label>Update Clone Roll Up Fields</label>
        <locationX>435</locationX>
        <locationY>396</locationY>
        <inputAssignments>
            <field>Close_Date_Text_Clone__c</field>
            <value>
                <elementReference>$Record.Close_Date_Formula__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Added_text_clone__c</field>
            <value>
                <elementReference>$Record.Date_formatting_formula__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Outstanding_Commission_RollSum__c</field>
            <value>
                <elementReference>$Record.Outstanding_Commission_s__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Paid_Commission_Rollsum__c</field>
            <value>
                <elementReference>$Record.Paid_Commission_s__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Commission_RollSum__c</field>
            <value>
                <elementReference>$Record.Total_Commissions__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>490</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Create_Commission_Record</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
